body{
    background-color: springgreen ;
}

footer{
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 15px rgb(0, 64, 32);
    background-color: rgb(0, 128, 64);
}

.container-fluid{
    width: 98%;
    margin: auto;
}

h1{
    color: rgb(0, 128, 64);
    font-family: Impact, Charcoal, sans-serif
}

#panel {

    background-color: white;
    border-radius: 15px;
    height: auto;
    min-height: 500px;
    padding: 50px;
    box-shadow: 0 0 15px darkolivegreen;
    margin-bottom: 20px;
}



#add_text{
    padding-left: 5px;
}

#todo_list {
    margin-bottom: 50px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#buttons_div{
    background-color: gey;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 40px;
}

#add_button, #clr_done_button{

    background-color: royalblue;
}

#empty_button{
    background-color: firebrick;
}

#save_button{
    background-color: limegreen;
}

.btn{
    color: white;
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 0 0 2px rgb(82, 82, 82);
}

.completed{
    text-decoration: line-through;
    color: grey;
    font-style: italic;
}
